# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Editor folders
.vscode/
.idea/

# Model weights
*.joblib
*.pkl
*.h5

# Build/Cache
dist/
build/