# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so



.env/
.env
.env.local
# Virtual environment
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Editor folders
.vscode/
.idea/

# Model weights

*.pkl
*.h5

# Build/Cache
dist/
build/